.nav {
    grid-area: n;
    background-color:rgb(30, 40, 54);
    color: burlywood;
    font-size: 18px;
    padding: 20px;
    color: bisque;
  }

 .item a{
  color: bisque;
 }

 .item a.active {
  color: chartreuse;
 }